h3{
    color:red;
    font-size: x-large;
    font-weight: bold;
}
h4{
    color:white;
    font-size: medium;
    font-weight: bold;
}

p{ color:white;
font-size: medium;
font-weight: bold;
}

body{
    background-color:black;
}

#ölümcül_Labirent{
position: absolute;
top:150px;
left:1200px;
font-size:medium;
font-weight: bold;
}